<div class="container my-3 py-3">
    <h2 class="my-3">Login</h2>
    <form action="/session/login" method="post">
        <div class="mb-3">
            <label for="email" class="form-label">Direccion EMAIL</label>
            <input type="email" class="form-control" name="email" required>
        </div>
        <div class="mb-3">
            <label for="password" class="form-label">Contraseña</label>
            <input type="password" class="form-control" name="password" required>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
        <p class="my-3">No tienes cuenta? <a href="/register">Registrar aqui</a></p>
        <!--<p class="my-3">O logueate con github <a href="/session/github">Loguearte aqui</a></p>-->

    </form>
</div>